/* Color: Blue */

body {
    background: #000 /*#38383a*/ url(../../Fashion/images/orange/bg_body.jpg) 2px 0 repeat-x;
    color: #000;
}

a {
    color: #212121;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

h2 {
    color: #000;
    border: 5px solid #000;
	margin-left: 5px;*
    background: #fff;
}

h3 {
    color: #ff0000;
}


h5{
    color: #000;
	margin-top:40px;  
}
#Container {
    background:no-repeat;
}

#TopMenu {
    /*background: url(../../Fashion/images/orange/TopMenuBg.gif) 0 5px no-repeat;*/
    color: #fff;
    text-align: center;
}

#TopMenu li{
    border-radius:16px 16px 0 0;
}

#TopMenu li a {
    /*background: url(../../Fashion/images/orange/TopMenuBg.gif) 0 5px no-repeat;*/
}

#TopMenu li div {
    color: #fff;
}

#TopMenu li a:hover {
    text-decoration: none;
}

#Menu {
}

#Menu li {
}

#Menu li a {
    width: 70px;
    color: #fff;/*#2E3239;*/
    text-decoration:none;
    background: #000;
    border: 2px solid #000;
    border-radius:12px 12px 0 0;
    font-weight: bold;
    /*background: #111 url(../../Fashion/images/orange/MenuBg.gif) 0 12px no-repeat;*/
}

#Menu li ul li a {
    background: #111;
    color: #fff;
}

#Menu li ul li a:hover {
    color: #F77800;
}

#Menu li:hover a, #Menu li.over a{
}

#Outer {
}

#Wrapper {
}

#Header {
}

#Logo h1 {
    color: #fff;
}

#Logo h1 a {
    color: #fff;
}

#SearchForm {
}

/*#SearchForm label {
    color: #000;
}*/

#SearchForm input {
    background: #fff;
    border: 1px solid #cdcdcd;
}

#SearchForm .Button {
    border: 0;
}

#SearchForm a {
    color: #fff;
}

#SearchForm p {
}

.Left {
    background: #000; /*#0a0a0a url(../../Fashion/images/orange/SideBg.gif) 0 0 no-repeat;*/
    /*border-radius: 12px 12px;*/
}

.Left h2 {
    color: #000;
    /*border-radius: 12px 12px;*/
    background: #000;
}

.Left li {
}

.Left li a {
    color: #fff;
}

.Left li a:hover
}

.Content {
}

.Content h2 {
}

.Content a {
    color: #000;
}

.Content.Wide {
}

.Content.Widest {
}

.Right {
    color: #fff;
}

/*.Right .Block {
    background: #ededed url(../../Fashion/images/orange/RightBg.gif) bottom left no-repeat;
}

.Right h2 {
    background: #ededed url(../../Fashion/images/orange/RightBg_h2.gif) 0 0 no-repeat;
    color: #fff;
    height: 63px;
    padding: 10px 0 0 10px;
}

.Right a {
    color: #034285;
}

.Right a:hover, .Right a:hover strong {
}*/

#Footer {
   background:url(../../Fashion/images/orange/bg.png) no-repeat ;
   margin-left:20px;
   margin-top:90px;/*270px 15px*/

   /*background-color:#FFF;*/
    color: #fff;
    /*border-top: 1px solid #F77800;*/
    text-align: center;
	margin-top:0;
}

#Footer li a {
    /*border-left: 1px solid #208db5;*/
}

.NewsletterSubscription input {
    border: 1px solid #cdcdcd;
}

.Content .ProductList li {
}

.Content .ProductList li:hover, .Content .ProductList li.Over {
}

.Content .ProductList li {
    background: url(../../Fashion/images/orange/ProductListBgBottom.gif) bottom left no-repeat;
}

.Content .ProductList .ProductImage {
    background: url(../../Fashion/images/orange/ProductListBgTop.gif) top left no-repeat;
}

.Content .ProductList .ProductDetails {
    background: url(../../Fashion/images/orange/ProductListBgTop.gif) top right no-repeat;
}

.ProductList strong, .ProductList strong a {
    color: #000;
    font-weight: bold;
}

.ProductPrice, .ProductList em {
    color: #000;
    font-weight: bold;
}

.ProductList .Rating {
    color: #6a6a6a;
}

.Right .ProductList li {
}

.Content .FeaturedProducts .ProductList li {
}


.Content .FeaturedProducts .ProductList .ProductImage {
}

.Content .FeaturedProducts .ProductList li:hover, .Content .FeaturedProducts .ProductList li.Over {
}

.Right .TopSellers li {
}
/* Contains the number of the item */
/*.Right .TopSellers li .TopSellerNumber { 
    background: url(../../Fashion/images/orange/TopSellerNumberBg.gif) 0 0 no-repeat;
    color: #fff;
}*/
/* No1 seller box */
/*.Right .TopSellers li.TopSeller1 .ProductImage { 
    background: #fff url(../../Fashion/images/orange/TopSeller1Bg.gif) 0 0 no-repeat;
}*/
/* No1 seller box */
/*.Right .TopSellers li.TopSeller1 .ProductDetails { 
background: #fff url(../../Fashion/images/orange/TopSeller1RDetails.gif) bottom no-repeat;
}

.Right .TopSellers li.TopSeller1 .TopSellerNumber {
    background: url(../../Fashion/images/orange/TopSellerNumber1Bg.png) 0 0 no-repeat;
    color: #fff;
}*/

.Breadcrumb {
    border-bottom: 1px solid #DCDFE2;
}


.CompareItem { width:200px; border-left: solid 1px #CACACA; }
.CompareFieldName { font-weight:bold; border-bottom: 1px solid #EFF8FA; }
.CompareFieldTop { border-bottom:solid 1px #85BADF; }
.CompareFieldTop a:hover { color:red; }
.CompareCenter { border-left:solid 1px #85BADF; border-bottom:solid 1px #F2F2F2; }
.CompareLeft { border-left:solid 1px #85BADF; border-bottom:solid 1px #F2F2F2; }

.ViewCartLink {
    background: url('../../Fashion/images/orange/Cart.gif') no-repeat 3px 0;
}

table.CartContents, table.General {
    border: 2px dotted #bfbfbf;
}

table.CartContents thead tr th, table.General thead tr th {
    background: #000;
    color: #fff;
    border-bottom: 1px solid #000;
}

.CartContents tfoot .SubTotal td {
    border-top: 2px dotted #bfbfbf;
    color: #000;
}

.MiniCart .SubTotal {
    color: #075899;
}

.JustAddedProduct {
    border: 1px solid #c0dae7;
    background: #fff;
}

.JustAddedProduct strong, .JustAddedProduct a {
    color: #075899;
}

.CategoryPagination {
    color: #034285;
    background: #f4fbfc;
    border: 1px solid #c0dae7;
}

.CheckoutRedeemCoupon { 
    background: #e7e7e9; 
    padding: 10px; 
    width: 300px; 
    border: 2px dotted #bfbfbf; 
    margin-bottom: 10px; }

.SubCategoryList, .SubBrandList {
    background:#EEF5F9;
}


.SpecificInfoMessage {
    background-color: #f8e4d1;
    color: #555;
}

.InfoMessage {
    background: #EFF8FA url('../../Fashion/images/InfoMessage.gif') no-repeat 5px 8px;
    color: #555;
}

.SuccessMessage {
    background: #ff0000 url('../../Fashion/images/SuccessMessage.gif') no-repeat 5px 2px;
    color: #000;
}

.ErrorMessage {
    background: #FFECEC url('../../Fashion/images/ErrorMessage.gif') no-repeat 5px 8px;
    color: #555;
}

.ComparisonTable tr:hover td, .ComparisonTable tr.Over td {
    background: #EFF8FA;
}

/* Shipping Estimation on Cart Contents Page */
.EstimateShipping {
    border: 1px solid #c7d7db;
    background: #edf2f3;
}

/* Express Checkout */
.ExpressCheckoutBlock .ExpressCheckoutTitle {
    background: #232323;
    color: #fff;
}

.ExpressCheckoutBlockCollapsed .ExpressCheckoutTitle {
    background: #000;
    border: 1px solid #ddd;
    color: #fff;
}

.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent {
    color: #888;
}

/* General Tables */
table.General tbody tr td {
    border-top: 1px solid #efefef;
}

/* Tabbed Navigation */
.TabNav {
    border-bottom: 1px solid #f97600;
}

.TabNav li a {
    border: 1px solid #f97600;
    background: #ffeee1;
    color: #000;
}

.TabNav li a:hover {
    background-color: #ffe3cd;
}

.TabNav li.Active a {
    border-bottom: 1px solid #fff;
    background: #fff;
}

/* Product Videos */

#VideoContainer {
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.currentVideo {
    background-color: #ddf0f6;
}

.videoRow:hover {
    background-color: #efefef;
}

.CartContents .ItemShipping th {
    border-bottom-color: #c7d7db;
    border-top-color: #c7d7db;
    background: #edf2f3;
    color: #424748;
}

/* Category flyout styles (theme) */

/* Child menu items, does not include the always-showing root level */
#SideCategoryList .sf-menu li ul li {
}

/* Root menu item when expanded */
#SideCategoryList .sf-menu .sfHover a,
/* Child menu item links */
#SideCategoryList .sf-menu li ul a {
    background-color: #282828;
}

/* Parent menu items of a child being hovered (not including root-level items) */
#SideCategoryList .sf-menu li ul li:hover > a,
/* Child menu item while hovering */
#SideCategoryList .sf-menu li ul a:focus,
#SideCategoryList .sf-menu li ul a:hover,
#SideCategoryList .sf-menu li ul a:active {
}

/* End: category flyout styles */


/* start fast cart styles */
#fastCartContainer {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
}
.fastCartContent h2 {
    color: #009E0F;
    background-color:transparent;
}
.fastCartContent h3 {
    color: #BB6F21;
    background-color:transparent;
}
.fastCartSummaryBox {
    background-color: #DDFEDA;
}
.fastCartContent .fastCartTop a,
.fastCartContent .ProductList .ProductDetails a {
    color: #075899;
}
.fastCartContent .ProductPrice,
.fastCartContent .ProductList em {
    color: #800000;
}
.fastCartContent .Quantity {
    color: #828DB3;
}
.fastCartContent p {
    color: #444444;
}
.fastCartContent .ProductList li {
    background-color: #FFF;
}
/* end fast cart styles */
